*{
    margin: 0px;
    padding: 0px;
    
}

.navbar{
    
    
 
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    min-height: 400px;
    background-image: url("./dc-bg.jpg");
    background-size: cover;
    
}
.list{
    display: inline-block;
    margin: 10px 20px;
}
.link{
    text-decoration: none;
    font-weight: 800;
    color: blue;
    
}
.link:hover{
    color:rgb(6, 5, 5);
}
.title-text{
    padding-left: 13%;
}

.title-head{
    font-size: 50px;
    margin-bottom: 50px;
    color: aliceblue;
}
.title-para{
    color: rgb(255, 255, 255);
}

.title-link{
    color: blue;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 30px 0px;
    padding: 10px 20px;
}
.home{
    width: 100%;
    display: flex;
    
}
#flex-box{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    background-color: aliceblue;
}
.card{
    width: 18rem;
    align-items: center;
    padding: 0 10px;
}
@media only screen and (max-width:800px)

{
    .navbar{
    background-image: url("https://i.imgur.com/GigvWCn.png");
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
#flex-box{
    display:flex;
    flex-direction: column;
    padding-top: 20px;
    background-color: aliceblue;
}
.card{
    width: 18rem;
    align-items: center;
    padding: 0 10px;
}
}
.foot{
   background-color: rgb(12, 12, 95);   
}
.foot-txt{
    color: white;
    padding-left: 25px;
    padding-top: 10px;
}
button{
    color: blue;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    margin: 30px 25px;
    padding: 10px 20px;
    

}